	</div>	
	</div><!-- /.content-wrapper -->
	<script type="text/javascript" src="/javascripts/jQuery-2.1.3.min.js"></script>
	 <!-- jQuery UI 1.11.2 -->
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	 <!-- datepicker -->
    <script src="lib/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/lib/jquery.ui.autocomplete.html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
     <!-- CK Editor -->
    <script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
	<script type="text/javascript" src="/javascripts/layout.js"></script>
	<script type="text/javascript" src="/javascripts/angular.js"></script>
	<script type="text/javascript" src="/javascripts/angular-notify.js"></script>
	<script type="text/javascript" src="/javascripts/angular-route.js"></script>
	<script type="text/javascript" src="/javascripts/ui-bootstrap.js"></script>
	
	<script type="text/javascript" src="/javascripts/angular-resource.js"></script>
	<script type="text/javascript" src="/javascripts/app/app.js"></script>
	<script type="text/javascript" src="/javascripts/app/directives/autocomplete.js"></script>
	<script type="text/javascript" src="/javascripts/app/service/appService.js"></script>
	<script type="text/javascript" src="/javascripts/app/service/exerciseService.js"></script>
	<script type="text/javascript" src="/javascripts/app/service/testService.js"></script>
	<script type="text/javascript" src="/javascripts/app/service/HTMLexerciseService.js">
	</script>
	<script type="text/javascript" src="/javascripts/app/service/exercise1Service.js">
	</script>
	<script type="text/javascript" src="/javascripts/app/service/registerService.js"></script>
	<script type="text/javascript" src="/javascripts/app/service/loginService.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/appController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/homeController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/registerController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/loginController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/viewAllUsers.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/modalInstanceCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/newTestController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/editTestController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/fillTestController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/viewAllHTMLExercisesCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/viewAllJSExercisesCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/htmlExerciseController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/addHtmlExerciseController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/editHtmlExerciseCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/editJSExerciseCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/addJSExerciseController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/jsExerciseController.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/viewAllArticles.js"></script>
	<script type="text/javascript" src="/javascripts/app/controllers/myFilledExercises.js"></script>
	</body>
</html>