<section class="content-header">
  <h1>
    Import
    <small>You can import every type of information</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a ng-href="#/import"><i class="fa fa-user"></i>Import</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Import</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label for="type">Select type:</label>
        <select id="type" ng-model="importData.type" class="form-control">
          <option>Article with test</option>
          <option>HTML Exercise</option>
          <option>JS Exercise</option>
          <option>Users</option>
          <option>Courses</option>
        </select>
      </div>
      <p>Example of the JSON file that can be imported</p>
      <pre ng-if="importData.type === 'Article with test'">
        [  
           {  
              "_id":{  
                 "$oid":"5558f85cca2e787011385314"
              },
              "name":"dsf",
              "article":"Some article\n",
              "suitable": "Beginners",
              "questions":[  
                 {  
                    "name":"q1",
                    "answers":[  
                       {  
                          "name":"answer 1"
                       },
                       {  
                          "name":"answer 2"
                       }
                    ],
                    "choosen":""
                 },
                 {  
                    "name":"q2",
                    "answers":[  
                       {  
                          "name":"answer 1"
                       },
                       {  
                          "name":"answer 2"
                       }
                    ],
                    "choosen":""
                 }
              ]
           } 
        ]
      </pre>
      <pre ng-if="importData.type === 'HTML Exercise'">
        [  
           {  
              "_id":{  
                 "$oid":"559975b1a1b139c811f7c3c7"
              },
              "name":"fsdf",
              "exercises":[  
                 {  
                    "introduction":"fcdsfs",
                    "instructions":"fdsf",
                    "checkFunction":"$('#user-output').contents().find('h1').next().is('h2')",
                    "errorMsg":"err",
                    "html":"Title",
                    "css":"p{\n    color: red;\n}"
                 }
              ],
              "suitable":"Beginners"
           }
        ]
      </pre>
      <pre ng-if="importData.type === 'JS Exercise'">
        [  
           {  
              "_id":{  
                 "$oid":"553a712c40cdffb00052591e"
              },
              "name":"Basic JS 2",
              "exercises":[  
                 {  
                    "introduction":"A JavaScript function is a block of code designed to perform a particular task. Script function is executed when \"something\" invokes it (calls it). A JavaScript function is defined with the function keyword, followed by a name, followed by parentheses (). Function names can contain letters, digits, underscores, and dollar signs (same rules as variables). The parentheses may include parameter names separated by commas: (parameter1,  parameter2, ...) The code to be executed, by the function, is placed inside curly brackets: {}",
                    "checkFunction":"(typeof sum != 'undefined') && (sum(4, 3)===7)",
                    "instructions":"Write a function with name \"sum\" that take to argument and return their sum.",
                    "errorMsg":"Make sure you define a function with name \"sum\". Do not forget to return the sum.",
                    "js":"//code"
                 },
                 {  
                    "introduction":"intro 2",
                    "instructions":"instr",
                    "checkFunction":"true",
                    "errorMsg":"err",
                    "js":"//code"
                 }
              ],
              "suitable":"Beginners"
           }
        ]
      </pre>
      <pre ng-if="importData.type === 'Users'">
        [  
           {  
              "_id":{  
                 "$oid":"553687e92c2b58881214f8c6"
              },
              "username":"vili",
              "password":"pass",
              "role":"student",
              "course":"software engenering"
           }
        ]
      </pre>
      <pre ng-if="importData.type === 'Courses'">
        [
           {  
              "_id":{  
                 "$oid":"55997a6445cc057c1126bd2f"
              },
              "name":"2 year security",
              "degree":"Master"
           }
        ]
      </pre>
      <div class="form-group">
        <input type="file" excel="importData.file"/>
      </div>
      <div class="form-group">
        <!-- <form action="/users/import" enctype="multipart/form-data" method="POST">
          <input type="file" name="file"/>
          <button type="submit">Import</button>
        </form> -->
        <button class="btn btn-success" ng-click="save()">Import</button>
      </div>
    </div>
   </div>
</section>