<div class="login-box" ng-controller="loginController">
  <div class="login-logo">
    <a href="../../index2.html"><b>Code Exercises System</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form>
      <div class="form-group has-feedback">
        <input ng-model="userData.username" type="text" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="userData.password" type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
       <button ng-click="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
    </form>

    <!--
    <a href="#">I forgot my password</a><br>
    <a ng-href="#/register" class="text-center">Register a new membership</a>
    -->

  </div><!-- /.login-box-body -->
</div>