$noteBackgroundColor: #f2f6c1;
$noteBorderColor: #c3baaa;
$noteLineColor: #efcfad;

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

.inner-page{
	padding:0;
	.box-primary{
		padding: 15px;
	}
	.btn{
		margin-bottom: 15px;
	}
	.test-name{
		font-size: 18px;
	}
	.question-name{
		color: #367fa9;
		font-size: 16px;
		text-decoration: underline;
	}
	.answer-field{
		width: 80%;
		display: inline;
	}
	.answer-field + .close{
		float: none;
	}
	.no-answers{
		font-style: italic;
	}
	/* noteline */
	blockquote{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 14px;
	}
	.notepaper {
		position: relative;
		margin: 15px 0 15px 0;
		padding: 29px 20px 20px 45px;
		line-height: 30px;
		color: #6a5f49;
		text-shadow: 0 1px 1px white;
		background-color: $noteBackgroundColor;
		$noteLines: top, transparent, transparent 29px, rgba($noteLineColor, .7) 29px, rgba($noteLineColor, .7) 30px;
		$noteGlow: center, cover, rgba(white, .7), rgba(white, .1) 90%;
		background-image: -webkit-radial-gradient($noteGlow), -webkit-repeating-linear-gradient($noteLines);
		background-image:    -moz-radial-gradient($noteGlow),    -moz-repeating-linear-gradient($noteLines);
		background-image:      -o-radial-gradient($noteGlow),      -o-repeating-linear-gradient($noteLines);
		border: 1px solid $noteBorderColor;
		border-color: rgba($noteBorderColor, .9);
		@include box-shadow(inset 0 1px rgba(white, .5),
		                  inset 0 0 5px desaturate(darken($noteBackgroundColor, 20%), 10%),
		                  0 0 1px rgba(black, .1),
		                  0 2px rgba(black, .02));
	  	&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
		}
		&:before {
			left: 28px;
			width: 2px;
			border: solid $noteLineColor;
			border-color: rgba($noteLineColor, .9);
			border-width: 0 1px;
			box-sizing: content-box;
		}

		&:after {
			z-index: -1;
			left: 0;
			right: 0;
			background: rgba($noteBackgroundColor, .9);
			border: 1px solid rgba(darken($noteBorderColor, 12%), .7);
			@include transform(rotate(2deg));
		}
	}

	.quote {
		font-family: Georgia, serif;
	}
	.instr-text{
		color: #3c8dbc;
	}
	/* editor */
	#html-content, #css-content, #js-content{
		display: none;
	}
	.editor {
		width: 250px;
		height: 400px;
		display: inline-block;
		margin-right: 8px;
	}
	#jsEditor{
		width: 570px;
	}
	.exercise-footer{
		min-height: 70px;
		.callout, #next-exercise{
			float: left;
		}
		.callout{
			margin-left: 20px;
		}
	}
	.wysihtml5-sandbox{
		display: none;
	}
}
/* register */
.login-box, .register-box{
	margin: 0 auto;
}
.btn-reg{
	margin-top: 7px; 
}
#user-role-select{
	margin-bottom: 10px;
	max-width: 300px; 
}
.page-view-all{
	.todo-list{
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		&>li{
			margin: 0;
			padding: 14px;
			&:nth-child(even){
				background:#f9f9f9;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
			}
			&:nth-child(odd){
				background:#fff;
			}
			&:hover{
				background-color: #f5f5f5
			}
		}
	}
}
.mt-20{
	margin-top: 20px;
}
.box-primary{
	.hashtag{
		padding-left: 20px;
	}
}