.ng-invalid.ng-dirty{
	border-color: #FA787E;
}
.ng-valid.ng-dirty{
	border-color: #78FA89;
}
.small-box .icon{
	top: -20px;
}
.btn-default, .btn-default:hover, .btn-focus{
	color: #3c8dbc;
}
.red{
	color: #FA787E;
}
.green{
	color: #78FA89;
}

